@model ProductViewModel

<div class="container py-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    @if (Model.Products.Count() == 0)
    {
        <div class="text-center text-uppercase">
            <h3 class="text-muted"> No Products to show </h3>
        </div>
    }
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in Model.Products)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/Products/@product.ImageUrl" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title"> @product.Name - @product.Category.Name </h5>

                        @if (!string.IsNullOrWhiteSpace(product.Sizes))
                        {
                            <h6 class="card-text text-muted"> @product.Sizes - @product.Colors </h6>
                        }
                        else
                        {
                            <br />
                        }
                        <h6 class="card-subtitle mb-3 text-muted"><b>RS:</b>@product.Price/-</h6>
                        <a asp-area="Customer" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@product.Id" class="btn btn-primary">Add to Bag</a>
                        <a asp-area="Customer" asp-action="Details" asp-controller="Product" asp-route-productId="@product.Id" class="btn btn-warning">View Product</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>